@model IEnumerable<StudentService.Models.Start>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrediteNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Syllabus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FKDCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FKTypeCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrediteNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Syllabus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FKDCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FKTypeCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
