@model StudentService.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AutoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrediteNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrediteNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Syllabus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Syllabus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
