@using Microsoft.AspNet.Identity
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            @Html.ActionLink("Student Service", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                        <li>@Html.ActionLink("Instructors", "Index", "Instructors")</li>
                        <li>@Html.ActionLink("Sections", "Index", "Sections")</li>
                        <li>@Html.ActionLink("Tasks", "Index", "Tasks")</li>
                        <li>@Html.ActionLink("All Users", "Index", "Students")</li>
                        <li>@Html.ActionLink("Type", "Index", "Types")</li>
                        <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                    </ul>
                }
                else
                {

        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Materials", "Index", "StdMaterials")</li>
            <li>@Html.ActionLink("Course", "Index", "StudeCourse")</li>
            <li>@Html.ActionLink("Task", "Index", "StdTask")</li>
            <li>@Html.ActionLink("Project", "Index", "ProjectStd")</li>

        </ul>
                }
            }

            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Student", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Registration", "Registration", "Student")</li>
                    <li>@Html.ActionLink("Login", "Login", "Student")</li>
                </ul>
            }


        </div>

    </div>
</div>
